* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: orangered;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo {
    height: 50px;
    width: 100px;
}

.logo {
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 80px;
    width: 100px;
}

.border {
    border: 1.5px solid transparent;

}

.border:hover {
    border: 1.5px solid white;
}

/* box 2 */
.add-first {
    color: #f2eeeefa;
    font-size: 0.8rem;
    margin-left: 20px;
}

.add-second {
    font-size: 1rem;
    margin: 2px;
}

.add-icon {
    display: flex;
    align-items: center;
}

/* box 3 */
.nav-search {
    display: flex;
    justify-content: space-evenly ;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.search-select {
    background-color: #f3f3f3e7;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid black; 
}

/* box 4 */
span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.8rem;
    font-weight: 700;
}

/* box 5 */
.nav-cart i {
     font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */
.panel {
    height: 40px;
    background-color: rgba(255, 162, 0, 0.979);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.panel-all {
    font-weight: 700;
}

.panel-ops p {
    display: inline;
    margin-left: 10px;
}

.panel-ops {
    width: 70%;
    font-size: 1rem;
    font-weight: 400;
}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */

.hero-section {
    background-image: url("hero-image.jpg");
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* shop section */
.shop-section {
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
}

.box {
    height: 400px;
    width: 250px;
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 380px;
    padding: 20px 0px 15px;
    background-color: white;
}
.box1 {
    left: 100px;

}
.box2 {
    left: 380px;   
}
.box3 {
    left: 660px;

}
.box4 {
    left: 940px;   
}
body {
    background-color: rgba(204, 201, 201, 0.808);
}

.box-img {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.box-content {
    margin-left: 10px;
    margin-right: 10px;
}

.box-content p {
    color: #007185;
}



/* footer */
footer {
    margin-top: 420px;
}

.foot-panel1 {
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul {
    margin-top: 20px;
}
.foot-panel2 ul a {
    display: block;
    margin-top: 10px;
    color: #dddddd;
}

.foot-panel3 {
    background-color: #222f3d;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
}
